<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title {  {  { V I B E  C H E C K }  }  }
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap")
    style
      include css/index.css
      include css/modal.css
  body
    .wrapper
      .container
        #panel
          p.text-primary Enter a youtube playlist url
          input#playlist-input
          button#check.btn.text-primary C H E C K
    include modal.pug
    script
      include ../index.js
      