html, body {
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
  margin: 0;
}
p {
  margin: 0;
}
input, button {
  outline: none;
  font-family: 'Orbitron', sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.btn {
  padding: 0.25rem;
  font-size : 1rem;
  border-radius: 0.5rem;
  background-color: rgba(40,40,40,50%);
}
.btn:hover {
  cursor: pointer;
}
.text-primary {
  font-size : 1rem;
  color: white;
  text-shadow: 4px -3px #303030;
}
#playlist-input {
  width: 70vw;
  padding: 10px;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.wrapper {
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(120deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s cubic-bezier(0.15, 0.43, 0.97, 0.93) infinite;
  -z-animation: rainbow 18s cubic-bezier(0.15, 0.43, 0.97, 0.93) infinite;
  -o-animation: rainbow 18s cubic-bezier(0.15, 0.43, 0.97, 0.93) infinite;
  animation: rainbow 18s cubic-bezier(0.15, 0.43, 0.97, 0.93) infinite;
}
#panel {
  background: rgba(230,230,230,0.5);
  width: fit-content;
  align-self: center;
  padding: 1rem 0;
}
@media (min-width: 768px) { 
  #playlist-input {
    width: 30vw;
  }
  .text-primary{
    font-size: 1.25rem;
  }
  #panel {
    padding: 2.5rem;
  }
}
/* ANIMATIONS TOO FAST OR TOO CHOPPY*/
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}